---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>About me...</b>
<hr>
I am a PhD scholar and Prime Minister Research Fellow at Robert Bosch Centre for Cyber Physical Systems (RBCCPS) in IISc Bangalore.<br>
I received by B.Tech. degree in Mechanical Engineering (2020) from National Institute of Technology, Raipur.<br><br>

I started my career in the field of robotics especially on mobile robots. <br> My primary focus as a PhD student is on trajectory planning 
and optimization of mobile robots. I also work on control system, human-robot interaction and reinforcement learning for all kinds of robotic platform.<br>

I work in I3D lab and Nahar Centre for Robotics and Prototyping at IISc Bangalore under the supervision of <a href = "https://cambum.net/PB/"> Prof. Pradipta Biswas</a>.
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
